body{
  background-color: rgb(155, 230, 205);
}
.App {
  text-align: center;
  padding: 20px 100px;
  width: 600px;
  margin: 0 auto;
  background-color: rgb(157, 211, 211);
  
}

h2 {
  text-decoration: underline;
  color: rgb(135, 70, 70);
}
h4 {
  margin-bottom: 5px;
  color: rgb(100, 97, 97);
}
h5 {
  color: red;
  margin-top: 0;
}
.student{
  border-bottom: 1px dashed black;
}
